<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
{% include header.html %}
    <div class="container">
      <div class="sidebar wrapper">
        {{ content }}
    </div>
      <div class="main-middle">
        <div class="bio-pg">
          <h1>Bio</h1>
          <p>My Name is Jonathan Christopher. I have been living in Austin for over 7 years. I am married for about 6 years and I have 2 black dogs named Sammy and Daisy. I have worked in the tech field for most of my time down here in Austin. I am mainly an Ops person meaning I handle a lot of the day to day operations for my company and I handle all of the network issues. </p>
          <p>I love reading manga, anime, video games, traveling and the outdoors. I love all kinds of food and music. I am also an aspiring Wed Developer, so I hope this blog will continue to improve and get better to show my work.</p>
        </div>
        <div class="bio-pics">
          <p><img src="../img/coloradotrip.jpg"></p>
        </div>
      
    </div>
      <div class="widgets">
        <a class="twitter-timeline" href="https://twitter.com/ObiwanKaNizzle" data-widget-id="521718228712574976">Tweets by @ObiwanKaNizzle</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<a class="twitter-timeline" href="https://twitter.com/hashtag/corgi" data-widget-id="521719094630834176">#corgi Tweets</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
      
    
      
    
    
    

    {% include footer.html %}
    </div>
  

    

  </body>

</html>